<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{174,871},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airplane_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{173,903},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airplane_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{183,732},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airplane_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{196,765},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{55,927},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{1,927},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,20}</string>
                <key>spriteSourceSize</key>
                <string>{25,20}</string>
                <key>textureRect</key>
                <string>{{28,927},{25,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{206,871},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow_stick_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,281}</string>
                <key>spriteSourceSize</key>
                <string>{36,281}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_stick_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,281}</string>
                <key>spriteSourceSize</key>
                <string>{36,281}</string>
                <key>textureRect</key>
                <string>{{1,284},{36,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_stick_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,281}</string>
                <key>spriteSourceSize</key>
                <string>{36,281}</string>
                <key>textureRect</key>
                <string>{{39,1},{36,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_stick_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,280}</string>
                <key>spriteSourceSize</key>
                <string>{36,280}</string>
                <key>textureRect</key>
                <string>{{39,284},{36,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_connect_wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{1,697},{180,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{214,90}</string>
                <key>textureRect</key>
                <string>{{1,605},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{183,697},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{95,50}</string>
                <key>textureRect</key>
                <string>{{1,875},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,51}</string>
                <key>textureRect</key>
                <string>{{1,769},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,51}</string>
                <key>textureRect</key>
                <string>{{1,822},{95,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{95,50}</string>
                <key>textureRect</key>
                <string>{{99,769},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{77,1},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{77,152},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{77,303},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{77,454},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{1,567},{74,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_tile_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,36}</string>
                <key>spriteSourceSize</key>
                <string>{74,36}</string>
                <key>textureRect</key>
                <string>{{98,822},{74,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_tile_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,36}</string>
                <key>spriteSourceSize</key>
                <string>{73,36}</string>
                <key>textureRect</key>
                <string>{{136,821},{73,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map_tile_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,36}</string>
                <key>spriteSourceSize</key>
                <string>{73,36}</string>
                <key>textureRect</key>
                <string>{{98,898},{73,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>matic_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{174,821},{52,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_map.png</string>
            <key>size</key>
            <string>{227,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c9c67718138630e5060a77ed55345e:5df503fa4b8b0e8887e8a2746b85db79:3a9ff6daa1ea6872b0ca8c8132833a1d$</string>
            <key>textureFileName</key>
            <string>game_map.png</string>
        </dict>
    </dict>
</plist>
